fastapi
uvicorn
sqlalchemy
flake8
coverage
pymongo
pymysql
cryptography
httpx
pytest
pytest-cov
configparser
autoflake8
black
pandas
python-multipart
python-jose
passlib
alembic
openpyxl