fastapi == 0.90.0
uvicorn == 0.23.1
sqlalchemy == 2.0.19
flake8 == 6.1.0
coverage == 7.2.7
pymongo == 4.4.1
pymysql == 1.1.0
cryptography == 2.8
httpx == 0.24.1
pytest == 7.4.0
pytest-cov == 4.1.0
configparser == 6.0.0
autoflake8 == 0.4.0
black == 23.7.0
pandas == 2.0.3
python-multipart == 0.0.6
python-jose == 3.3.0
passlib == 1.7.4
openpyxl == 3.1.2
celery == 5.3.1
redis == 4.6.0
colorlog == 6.7.0
pyfiglet
pillow == 7.0.0
websockets == 11.0.3
requests == 2.28.2